<div class="container mb-4">
	<h2 style="margin-top: 2%; margin-bottom: 2%">Dashboard</h2>

	<div class="row">

		<div class="col-4">
			<div class="card mb-5" style="width: 20vw;">
			  <div class="card-body">
			    <a href="#"><h5 class="card-title">Education Rank</h5></a>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>

		<div class="col-4">
			<div class="card" style="width: 20vw;">
			  <div class="card-body">
			    <a href="#"><h5 class="card-title">Sports Rank</h5></a>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>

		<div class="col-4">
			<div class="card" style="width: 20vw;">
			  <div class="card-body">
			    <a href="#"><h5 class="card-title">Points Rank</h5></a>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="col-3">
			<div class="card" style="width: 16vw;">
			  <div class="card-body">
			    <a href="#"><h5 class="card-title">Events</h5></a>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>

		<div class="col-3">
			<div class="card" style="width: 16vw;">
			  <div class="card-body">
			    <h5 class="card-title"><%= link_to "Redeem Points", dashboard_path %></h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Redeem now!</a>
			  </div>
			</div>
		</div>

		<div class="col-3">
			<div class="card" style="width: 16vw;">
			  <div class="card-body">
			    <a href="#"><h5 class="card-title">Staff Review</h5></a>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>

		<div class="col-3">
			<div class="card" style="width: 13.5vw;">
			  <div class="card-body">
			    <h5 class="card-title">Top 10</h5>
			    <p class="card-text">
			    	<ul>
			    		<li>Some</li>
			    		<li>quick</li>
			    		<li>example</li>
			    		<li>text</li>
			    		<li>to</li>
			    		<li>build</li>
			    		<li>on</li>
			    		<li>the</li>
			    		<li>card</li>
			    		<li>title</li>
			    	</ul>
				</p>
			    <a href="#" class="btn btn-primary">Rank List</a>
			  </div>
			</div>
		</div>

	</div>

	<%= link_to "FAQ", faq_path %>

</div>


