<div class="container-fluid mb-5" style="background-color: #fff">

	<div id="clearance" class="sign-in container animated zoomIn delay-2s fast" style="margin-top: 21vh;">
		<div style="background-color: lightblue; width: 300px; padding: 50px; margin: auto;">
		  <h1 class="text-center"><%= t(".title") %></h1>
		  <h4 class="text-center" style="font-family: impact" >EduCanDo</h4> 

		  <%= render partial: '/sessions/form' %>
		</div>
	</div>

</div>