<div id="clearance" class="sign-in container" style="margin-top: 23vh;">
	<div style="border-style: groove; background-color: lightblue; width: 300px; padding: 50px; margin: auto;">
	  <h1 class="text-center"><%= t(".title") %></h1>
	  <h4 class="text-center" style="font-family: impact" >EduCanDo</h4> 

	  <%= render partial: '/sessions/form' %>
	</div>

</div>