<div class="container-fluid mb-5" style="background-color: #fff">

	<div style="padding-left: 2%; padding-right: 3%">

		<div>
			<h1 class="animated infinite bounce delay-2s" style="margin-top: 2%;">EDUCATION</h1>
			<h5 class="animated fadeIn delay-5s">Why education field?</h5>
			<p style="margin-bottom: 2%">Donec accumsan sagittis tortor, quis dictum justo dictum nec. Proin nunc quam, facilisis sed posuere sit amet, dapibus vitae turpis. Mauris malesuada turpis eget facilisis aliquet. Sed congue tristique sapien eu consectetur. Mauris iaculis auctor porttitor. Donec nec tortor urna. Pellentesque fermentum scelerisque fermentum.</p>
		</div>

		<div>
			<hr />
			<h1 style="margin-top: 2%;">WHAT</h1>
			<h2>Low attendance</h2>
			<p style="margin-bottom: 2%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dolor enim, dictum id sapien ut, facilisis varius nulla. Nunc ac arcu sed erat blandit laoreet. Sed at purus gravida neque malesuada mollis. Aenean bibendum massa vitae nulla suscipit, sed lobortis orci tristique. Phasellus fermentum nisl et turpis tincidunt maximus sed sit amet risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In nulla elit, tempus sit amet nunc quis, porttitor rutrum massa. Aenean tristique sapien arcu. Cras hendrerit eu purus vitae ultricies. In laoreet nulla quis massa congue, at cursus tortor tincidunt. Nunc sagittis tristique metus vel sagittis.</p>
		</div>

		<div>
			<hr />
			<h1 style="margin-top: 2%;">WHY</h1>
			<h2>No incentive for students to attend lectures</h2>
			<p style="margin-bottom: 2%">Integer sollicitudin pharetra tortor, consectetur lobortis purus suscipit sed. Nam auctor eros neque, non auctor turpis volutpat at. Suspendisse sed dolor posuere nunc volutpat tincidunt sed placerat est. Curabitur et mauris pharetra, consectetur lorem eu, placerat dui. Curabitur tristique eleifend blandit. Praesent cursus dictum lorem, id malesuada quam dictum nec. Nulla sit amet consectetur neque. Phasellus vel orci nibh. Nam scelerisque libero nisi, ut venenatis felis varius at. Morbi ultricies augue purus, id pellentesque justo egestas nec. In in feugiat turpis. Morbi nec aliquam turpis.</p>
		</div>

		<div>
			<hr />
			<h1 style="margin-top: 2%;">WHO</h1>
			<h2>Students and academics</h2>
			<p style="margin-bottom: 2%">Nulla viverra pellentesque porta. Praesent posuere porta leo, ut vestibulum enim scelerisque eget. Phasellus dignissim tristique aliquam. Donec suscipit lacus quis fermentum accumsan. Praesent non nunc urna. Vestibulum fermentum quam sit amet est laoreet, quis molestie ex pharetra. Nam enim tortor, hendrerit sed sapien eu, volutpat tristique sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sit amet laoreet nisi, scelerisque tincidunt leo. Vivamus hendrerit erat ut nunc tempor porttitor. Fusce tincidunt quam enim, sed iaculis ex dignissim at. Morbi ac risus velit. Praesent ornare lacinia neque eget cursus. Integer eu tellus arcu. Proin rutrum, magna a volutpat mattis, dolor ante cursus purus, porta sollicitudin tellus dui ac dolor. Praesent facilisis, leo eu iaculis iaculis, sem arcu pulvinar velit, eu sollicitudin ex quam a ex.</p>
		</div>

		<div>
			<hr />
			<h1 style="margin-top: 2%;">HOW</h1>
			<h2>Gamify</h2>
			<p style="margin-bottom: 2%">Sed eu lectus condimentum, auctor justo maximus, semper erat. Curabitur ipsum libero, dignissim in justo quis, efficitur malesuada quam. Maecenas velit mauris, aliquam ut neque in, faucibus lobortis ante. Pellentesque imperdiet porta risus in placerat. Aenean consequat eros pellentesque arcu venenatis ultricies. Nam sit amet purus ligula. Proin nec magna interdum, rhoncus diam ut, finibus enim. Nullam non lorem aliquet, convallis lorem quis, fringilla nibh. Maecenas et sollicitudin enim, consequat tristique erat. Ut quam urna, facilisis eget velit ut, sollicitudin malesuada diam. Vivamus aliquam euismod mi, ac dignissim dolor rutrum ut. Proin pharetra imperdiet sapien, ut ultricies ligula faucibus vel. Integer laoreet tristique lectus sit amet euismod.</p>
		</div>

	</div>

</div>

