<div class="container-fluid mb-5" style="background-color: #fff">

	<div class="container" style="margin-top: 2%;">
		<div class="my-4">
			<h3>Welcome to EduCanDo!</h3>
			<h5>We aim to make the education system more entertaining by incorporating point and ranking systems.</h5>
			<hr />
			<h4>Point System</h4>
			<h5>How to score points?</h5>
			<hr />
			<h4>Ranking System</h4>
			<h5>The ranking system of EduCanDo is as follows:</h5>
		</div>
		<div> 
			<h6>
				Platinum 
				<img src="https://www.freeiconspng.com/uploads/blue-star-icon-7.png" style="height: 50px; width: 50px; margin-left: 1px; margin-right: 14px;">
				: above 7000 points
			</h6>
			<h6>
				Gold
				<img src="http://pngimg.com/uploads/star/star_PNG41518.png" style="height: 50px; width: 50px; margin-left: 32px; margin-right: 14px;">
				: 4000 to 6999 points
			</h6>
			<h6>
				Silver
				<img src="http://pngimg.com/uploads/star/star_PNG41509.png" style="height: 50px; width: 50px; margin-left: 24px; margin-right: 14px;">
				: 1500 to 3999 points
			</h6>
			<h6>
				Bronze
				<img src="https://vignette.wikia.nocookie.net/acnewleaf/images/0/0a/Bronze_star_icon.png/revision/latest?cb=20131011063242g" style="height: 50px; width: 50px; margin-left: 13px; margin-right: 14px;">
				: 500 to 1499 points
			</h6>
			<h6>
				Plastic
				<img src="http://pngimg.com/uploads/star/star_PNG41467.png" style="height: 50px; width: 50px; margin-left: 15px; margin-right: 14px;">
				: below 500 points
			</h6>
		</div>
		<div class="my-4">
			<h5>Coupons can be redeemed using the points collected through the redemption page.</h5>
		</div>
	</div>

</divt>