
<div class="container">
	<div class=" my-4">
		<h3>Welcome to EduCanDo!</h3>
		<h5>Ranking System</h5>
		<h5>Ranking is based on points collected.</h5>
	</div>
	<divt> 
		<p><= 499 points: Plastic</p>
		<p>500 - 1499 points: Bronze</p>
		<p>1500 - 3999 points: Silver</p>
		<p>4000 - 6999 points: Gold</p>
		<p>>= 7000 points: Platinum </p>
	</div>
</div>