<div class="container-fluid mb-5" style="background-color: #fff">

	<div class="container" style="margin-top: 2%;">

		<h2>Attendance</h2>
		<% if !(Attendance.find_by(user_id: current_user.id,event_id: @event.id)) %>


		<!-- if @event.user.longitude == @event.attendance.longitude && @event.user.latitude == @event.attendance.latitude -->


			<%= form_with scope: :attendance, url: event_attendances_path, local: true do |form| %>
				<div class="pt-2 mt-4">
					<%= form.submit :class => "btn btn-info" %>
				</div>
			<% end %>


		<!-- end -->



		<% else %>
			<h4>Your attendance has been saved.</h4>
		<% end %>

	</div>

</div>