

<style type="text/css">
	#egg {
	    position: absolute;
	    top: 29vh;
	    right: 3vw;
	    -webkit-animation: anime_egg_move 3s infinite;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-direction: alternate;
	}

	@-webkit-keyframes anime_egg_move {
	    from {}
	    to {
	        -webkit-transform: rotate(-360deg);
	        margin-right: 21vw;
	    }
	}
</style>

<body style="background-image: url(http://cpml.com.au/wp-content/uploads/2016/04/CPML-background21.jpg);">
	<div class="container-fluid mb-5">

		<div class="container">
				<div class="row">
							<div class="mb-4" style="margin: auto; margin-top: 12vh;">
								<div class="card" style="background-color: #FFFFFF99; width: 250px;">
									<div class="card-body text-center" >
										<h4>Your attendance has been saved.</h4>
										<%= link_to 'Back to Event', event_path(@event), :class => "btn btn-info btn-sm mt-2" %>
										<% if @attendance.egg == false %>
											<!-- egg here -->
											<%= form_with scope: :attendance, url: event_attendance_egg_path(@event), local: true do |form| %>
												<%= form.hidden_field :egg, :value => "true" %>
												<div class="mt-4">
													<%= image_submit_tag("https://vignette.wikia.nocookie.net/mysingingmonsters/images/f/fc/Pokemon_egg.png/revision/latest?cb=20160817131107", id: "egg")%>
												</div>
											<% end %>
										<% end %>
									</div>
								</div>
							</div>
				</div>

		</div>

	</div>
</body>

